.navigation {
  background-color: $navigation-background-color;
  border-bottom: 1px solid darken($navigation-background-color, 10);
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;
  font-family: $source-sans-font-family;

  .logo {
    float: left;
    max-height: $navigation-height;
    padding-left: 0.2em 0;
    padding-right: 2em;
    margin-left: -5px;

    img {
      max-height: $navigation-height;
      padding: 0.2em 0;
    }
  }
  .logo-text {
    font-family: $logo-font-family;
    color: $grey;
    display: inline-block;
    text-decoration: none;
    margin: 0 0 0 $base-spacing * -1;
    padding-top: 0.5em;
  }
  // Mobile view

  .navigation-menu-button {
    color: $navigation-text-head-color;
    display: block;
    float: right;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase;

    @include media ($large-screen) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $hover-color;
    }
  }

  // Nav menu

  nav {
    float: none;
    z-index: 9999999;

    @include media ($large-screen) {
      float: right;
    }
  }

  ul.navigation-menu {
    clear: both;
    display: none;
    margin: -1em auto 1em auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;

    &.show {
      display: block;
    }

    @include media ($large-screen) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  // The nav items

  ul li.nav-link {
    font-size: 0.75em;
    background: $navigation-background-color;
    display: block;
    line-height: $base-line-height;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999;

    @include media ($large-screen) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      width: auto;

      &:last-child {
        padding-right: 0;
        > a {
          padding-right: 0;
        }
    }
    }

    a {
      color: $navigation-text-head-color;
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;

      @include media ($large-screen) {
        padding-right: 1em;
      }

      &:focus,
      &:hover {
        color: $hover-color;
      }
    }
  }

  .active-nav-item a {
    border-bottom: 1px solid $hover-color;
    padding-bottom: 3px;
  }

}

.second-nav {
  @include clearfix;
  background-color: $secondary-nav-background-color;
  min-height: 1.2em;
  padding: 0.5em 2em;
  text-transform: uppercase;
  ul li.nav-link {
    background: inherit;
    display: inline;
    line-height: 1.5em;
    padding-right: 2em;
  }
  ul li.nav-link a {
    font-size: 0.75em;
    font-family: $source-sans-font-family;
    color: $secondary-nav-text-color;
    &:focus,
    &:hover {
      text-decoration: underline;
    }
    &.current {
      color: $lime;
    }
  }
  .navigation-menu {
    float: left;
  }

  // Elements on the far right
  .navigation-tools {
    clear: both;
    display: block;

    @include media($large-screen) {
      background: transparent;
      clear: none;
      float: right;
    }
  }
}
