.title {
  color: $pink;
  font-family: $noto-sans-font-family;
  font-weight: $normal-weight;
  font-size: 1.5em;
}

.section {
  .content {
    padding: 2.5em 0;
    @extend .wrapper;
    p {
      margin: 1.5em 0;
      line-height: 1.4em;  
    }
   li {
    list-style-type: disc;
    list-style-position: inside;
   }
  }
  h1 {
    @extend .title;
  }
  h3 {
    text-transform: uppercase;
    color: $mint;
    font-family: $source-sans-font-family;
    font-weight: $source-sans-bold-font-weight;
    font-size: 1.1em;
  }
  img {
    @include border-color($charcoal);
    @include border-style(solid);
    @include border-width(1px);
  }
  .caption {
    margin-top: 1em;
    font-family: $source-sans-font-family;
    font-weight: $normal-weight;
  } 

  &.dark {
    background-color: $medium-grey;
  }
  &.light {
    h3 {
      margin-bottom: 1.5em;
    }
  }
}
