.section {
  &.dark {
    background-color: $medium-grey;
  }
  .content {
    padding: 2em 0;
    @extend .wrapper;
  }
}

.title {
  color: $pink;
  font-family: $noto-sans-font-family;
  font-weight: $normal-weight;
  font-size: 2em;
  margin-bottom: 0;
}

.subtitle {
  color: $light-charcoal;
  font-family: $noto-sans-font-family;
  font-weight: $normal-weight;
}

.docs.section {
  @include outer-container;
  max-width: none;
  .content {
    @include span-columns(9);  /* matching toc defined under _toc.scss */
    @include omega();
    padding-left: 0.5em;
    h1 {
      @extend .title;
    }
  }
}
