.toc {

  $menu-vertical-background-color: lighten(black, 40%);
  $menu-link-medium: pink;
  $menu-link-color: blue;
  $menu-link-light: lightblue;
  $menu-background-color: silver;
  $menu-logo-color: black;
  $menu-link-active: red;
  $menu-background-color: black;
  
  @include span-columns(3);
  font-size: 0.9em;
  padding: 2em 0;
  background-color: $menu-background-color;

  .hide {
    display: none;
  }
  &.obfuscate {
    background-color: white;
    width: 7%;
  }
  
  ul {
    margin-bottom: 0;
  }
  li {
    &.divide-top {
      border-top: solid 1px hsl(0, 0%, 25%);
    } 
    &.divide-bottom {
      border-bottom: solid 1px hsl(0, 0%, 25%);
    }
    &.current {
      background: darken($menu-vertical-background-color, 10%);
      a {
        color: $menu-link-medium;
        border-right: solid 1px darken($menu-vertical-background-color, 20%);
        padding: $gutter / 4 $gutter * 1.5;
        &:hover {
          background: darken($menu-vertical-background-color, 15%);
        }
      }
    }
    code {
      border: none;
      background: inherit;
      color: inherit;
      padding-left: 0;
      padding-right: 0;
    }
    // Expand links
    span.toctree-expand {
      display: block;
      float: left;
      margin-left: -1.2em;
      @extend .fa;
      @extend .fa-plus-square-o;
      font-size: .8em;
      line-height: 1.6em;
      color: darken($menu-link-medium, 20%);
    }
  }
  // On state for the first level
  li.on a, li.current > a {
    color: $menu-link-color;
    padding: $gutter / 4 $gutter;
    font-weight: bold;
    position: relative;
    background: $menu-vertical-background-color;
    border: none;
    border-bottom: solid 1px darken($menu-vertical-background-color, 20%);
    border-top: solid 1px darken($menu-vertical-background-color, 20%);
    padding-left: $gutter -4px;
    &:hover {
      background: $menu-vertical-background-color;
      span.toctree-expand {
        color: $menu-link-medium;
      }
    }
    span.toctree-expand {
      @extend .fa;
      @extend .fa-minus-square-o;
      display: block;
      font-size: .8em;
      line-height: 1.6em;
      color: darken($menu-link-medium, 30%)
    };
  }
  li.toctree-l2 {
    &.current {
      > a {
        background: darken($menu-vertical-background-color, 20%);
        padding: $gutter / 4 $gutter * 1.5;
      }
      li.toctree-l3 > a {
        display: block;
        background: darken($menu-vertical-background-color, 20%);
        padding: $gutter / 4 $gutter * 2.5;
      };
    }
    a:hover span.toctree-expand {
      color: $menu-link-medium;
    }
    span.toctree-expand {
      color: darken($menu-vertical-background-color, 35%);
    }
  }
  li.toctree-l3 {
    font-size: .9em;
    > a {
      background: darken($menu-vertical-background-color, 25%);
      padding: $gutter / 4 $gutter * 2.5;
    }
    li.toctree-l4 > a {
      display: block;
      background: darken($menu-vertical-background-color, 25%);
      padding: $gutter / 4 $gutter * 3.5;
      border-top: none;
      border-bottom: none;
    }
    a:hover span.toctree-expand {
      color: $menu-link-medium;
    }
    span.toctree-expand {
      color: darken($menu-vertical-background-color, 40%);
    }
  }
  li.toctree-l4 {
    font-size: .9em;
  }
  li.current ul {
    display: block;
  }
  li ul {
    margin-bottom: 0;
    display: none;
  }
  .local-toc {
    li ul {
      display: block;
    }
  }
  li ul li a {
    margin-bottom: 0;
    color: $menu-link-light;
    font-weight: normal;
  }
  a {
    display: inline-block;
    line-height: 18px;
    padding: $gutter / 4 $gutter;
    display: block;
    position: relative;
    font-size: 90%;
    color: $menu-link-light;
    &:hover {
      background-color: lighten($menu-background-color, 10%);
      cursor: pointer;
      span.toctree-expand {
        color: $menu-link-light;
      }
    }
    &:active {
      background-color: $menu-logo-color;
      cursor: pointer;
      color: $menu-link-active;
      span.toctree-expand {
        color: $menu-link-active;
      }
    }
  }
}

.toctree-wrapper {
  /* Hides TOC on homepage - may be a little aggressive */
  display: none;
}
