
@import "bourbon";
@import "base/base";
@import "neat";

@import "globals";

@import "nav";
@import "footer";
@import "page";
@import "index";
@import "code_highlight";

@import "docs/basic";
@import "docs/main";
@import "docs/toc";
@import "docs/reference";
@import "docs/callouts";
@import "docs/gallery";
@import "docs/nav";

body {
  margin: 0em;
  padding: 0em;
  color: $charcoal;
  font-family: $noto-sans-font-family;
  font-size: $base-font-size;
}

.wrapper {
  @include clearfix;
  @include outer-container;
  max-width: none;
  position: relative;
  z-index: 9999;
  padding-left: 2em;
  padding-right: 2em;
}
